#copy this to keys.tf and update values below

provider "digitalocean" {
  token = var.do_token
}

variable "deployment_name" {
  default = "sample-deployment"
}

variable "do_token" {
    default = "your_token_here"
}

variable "ssh_key_ids" {
    default = ["your_ssh_key_id_here"]
}